@font-face {
    font-family: 'PingFangSC-Medium';
    src: url('./PingFangSC-Medium.ttf');
    font-size: normal;
}
@font-face {
    font-family: 'PingFangSC-Regular';
    src: url('./PingFangSC-Regular.ttf');
    font-size: normal;
}
@font-face {
    font-family: 'PingFangSC-Light';
    src: url('./PingFangSC-Light.ttf');
    font-size: normal;
}